/*Hojas de estilos*/



/*Selector universal*/
*{
    margin: 30px;
    background-color: pink;
}

/*Selector de etiquetas*/
h4{
    color: red;
    background-color: black;

}

/*Selector de clase------utiliza punto(.)*/

.titulo{
    color: green;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
/*Selector de ID-------utiliza numeral(#)*/

#otroh4{
    color: gold;
    background-color: blueviolet;
}
span{
    color: orange;
}




































